{
  "openapi": "3.0.3",
  "info": {
    "version": "5.0.0",
    "title": "Open Education API",
    "description": "OpenAPI (fka Swagger) specification for the Open Education API.\n\n<figure>\n\t<a target=\"_blank\" href=\"OOAPIv5_model.png\">\n  <img src=\"OOAPIv5_model.png\" alt=\"OOAPI information model that feeds OOAPI specification\" width=\"70%\" class=\"img-responsive\">\n  </a>\n  <figcaption> OOAPI information model that feeds OOAPI specification (click to enlage)</figcaption>\n</figure>\n\nThe model provides an overview of how the objects on which the API is specified are related. The overarching concept educations is not found in the in the end points of the API. The smaller concepts of programOffering, courseOffering and conceptOffering are all found in the offering endpoint. The different types of association can all be found in the association endpoint.\n\nThe original file for this model can be found <a target=\"_blank\" href=\"OOAPIv5_model_v0.5.drawio\">here</a>\n\nThe program relations object is not found as a separate endpoint but relations between programs can be found within the program endpoint by expanding that endpoint.\n\nInformation about earlier meetings and presentations can be found <a target=\"_blank\" href=\"https://github.com/open-education-api/notulen\">here</a>\n\nInformation on the EDU-API model that was also used for this api is shown <a target=\"_blank\" href=\"eduapi.png\">here</a>\n",
    "x-logo": {
      "url": "../logo.png"
    }
  },
  "servers": [
    {
      "url": "http://demo01.eduapi.nl/v5",
      "description": "SURF demo implementation"
    }
  ],
  "tags": [
    {
      "name": "service metadata",
      "description": "The service API provides additional metadata needed to make the OOAPI fit for this organization."
    },
    {
      "name": "academic sessions",
      "description": "The academic sessions API provides information about the different time periods a program can be offered."
    },
    {
      "name": "associations",
      "description": "The associations API provides information about the association between an offering and a person (e.g. students, lecturers, etc).\nAssociations can be posted between institutions This requires information details on the offering and the persons.\nTo allow for this information a complete person object and offering object can be part of the API.\nThe structure is explained in the following model:\n<table>\n  <tr>\n   <td></td>\n   <td colspan=3 align=center>offering</td>\n  </tr>\n  <tr>\n   <td rowspan=3>student</td>\n   <td></td>\n   <!-- <td>internal</td>\n   -->\n   <td>external</td>\n  </tr>\n  <tr>\n   <td>internal</td>\n   <!-- <td>POST <a href=\"#tag/offerings/paths/~1offerings~1{offeringId}~1associations~1external/post\">/offerings/{offeringId}/associations/me</a> local enrollment based on selected offering\n    This call will allow for a local student using his .wellknown credentials to enroll for the offering identified by the offeringId\n    <br>Alternatively the association can also be created through POST <a href=\"#tag/associations/paths/~1associations~1me/post\">/associations/me</a>\n   </td>\n   -->\n   <td>POST <a href=\"#tag/associations/paths/~1associations~1external~1me/post\">/associations/external/me</a> gets student details from .wellknown at home institution. It passes offering details (provided by external institution) to the home institution so the home institution can create a placeholder for the offering and its results. \n   </td>\n  </tr>\n  <tr>\n   <td>external</td>\n    <!--\n    <td>\n    This method is not yet implemented it requires full student details and offering details. This would mean the \n    OOAPI message would contain more than one resource in the message. At the moment the student mobility project is looking into\n    a sollution.\n    <br> Alternatively it could be achieved through using two calls:\n    <ul>\n     <li>create student with POST <a href=\"#tag/persons/paths/~1persons~1{personId}/post\">/persons</a></li>\n     <li><a href=\"#tag/offerings/paths/~1offerings~1{offeringId}~1associations~1external/post\">/offerings/{offeringId}/associations/me</a></li>\n    </ul>\n    for the enrollment\n   </td>\n    -->\n   <td>no support needed</td>\n  </tr>\n</table>\nDirect update of current information: <a href=\"#tag/associations/paths/~1associations~1{associationId}/patch\"> PATCH /associations/{associationId}</a>\nThis call is currently limited to passing results and a remote state. For future use other association resource information could be passed. \nMore information on the support for student mobility can be found \n<a href=\"https://swimlanes.io/d/s5mfpj7Si\">here</a>\n"
    },
    {
      "name": "buildings",
      "description": "The building API provides a building that is currently used by the organization. Including all location details."
    },
    {
      "name": "courses",
      "description": "The courses API provides a self-contained and formally structured learning experience. Aimed at providing learning outcomes to students. Usually placed in the context of a program."
    },
    {
      "name": "components",
      "description": "The components API provides information about components being part of parent courses."
    },
    {
      "name": "education specifications",
      "description": "The education specification API provides information on the specification of an education object.\nThis specification allows for other education objects to be derived from it.\nIt is used to aggregate education objects from a supplying institution.\nIt clusters programs to a main educationSpecification that is used in registries such as RIO.\n"
    },
    {
      "name": "groups",
      "description": "The groups API provides information about groups that are related to organizations, persons and offerings. Groups of students that are related to an offering are typically used for rostering. The rostering application assigns students based on these groups. For example, class 1b will be assigned to the course offering on monday morning. Not all groups are related to an offering. A group of people can also be a team that is working on a task outside the OOAPI scope. These can be teams of students, but also teams of employees."
    },
    {
      "name": "news",
      "description": "The news API provides news feeds and items regarding a specific subject."
    },
    {
      "name": "offerings",
      "description": "The offerings API provides information about offerings which have a global timeframe, e.g. a period to which students can enroll."
    },
    {
      "name": "organizations",
      "description": "The organizations API provides the organizations that are responsible for the execution and recognition of education."
    },
    {
      "name": "persons",
      "description": "The persons API provides information about persons related to an organization."
    },
    {
      "name": "programs",
      "description": "The programs API provides a coherent set of educational components, aimed at the realization of competences or objectives in the field of knowledge, insight, attitudes and skills that the person who completes the program must have."
    },
    {
      "name": "rooms",
      "description": "The rooms API provides the part of a building where an activity can take place. Including detail information on the resources available, number of seats, etc. (Updated continuously)"
    },
    {
      "name": "service_model",
      "x-displayName": "Service",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Service\" />\n"
    },
    {
      "name": "education_specification_model",
      "x-displayName": "EducationSpecification",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/EducationSpecification\" />\n"
    },
    {
      "name": "program_model",
      "x-displayName": "Program",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Program\" />\n"
    },
    {
      "name": "course_model",
      "x-displayName": "Course",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Course\" />\n"
    },
    {
      "name": "component_model",
      "x-displayName": "Component",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Component\" />\n"
    },
    {
      "name": "program_offering_model",
      "x-displayName": "ProgramOffering",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/ProgramOffering\" />\n"
    },
    {
      "name": "course_offering_model",
      "x-displayName": "CourseOffering",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/CourseOffering\" />\n"
    },
    {
      "name": "component_offering_model",
      "x-displayName": "ComponentOffering",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/ComponentOffering\" />\n"
    },
    {
      "name": "association_model",
      "x-displayName": "Association",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Association\" />\n"
    },
    {
      "name": "person_model",
      "x-displayName": "Person",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Person\" />\n"
    },
    {
      "name": "group_model",
      "x-displayName": "Group",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Group\" />\n"
    },
    {
      "name": "academic_session_model",
      "x-displayName": "AcademicSession",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/AcademicSession\" />\n"
    },
    {
      "name": "organization_model",
      "x-displayName": "Organization",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Organization\" />\n"
    },
    {
      "name": "building_model",
      "x-displayName": "Building",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Building\" />\n"
    },
    {
      "name": "room_model",
      "x-displayName": "Room",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Room\" />\n"
    },
    {
      "name": "news_feed_model",
      "x-displayName": "NewsFeed",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/NewsFeed\" />\n"
    },
    {
      "name": "news_item_model",
      "x-displayName": "NewsItem",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/NewsItem\" />\n"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "parameters": [],
        "summary": "GET /",
        "description": "Get metadata for the service.",
        "tags": [
          "service metadata"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/persons": {
      "get": {
        "summary": "GET /persons",
        "description": "Get an ordered list of all persons.",
        "tags": [
          "persons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/primaryCode"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/personSearch"
          },
          {
            "name": "affiliations",
            "in": "query",
            "description": "Filter by affiliations",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/personAffiliations"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "personId",
                  "givenName",
                  "surName",
                  "displayName",
                  "-personId",
                  "-givenName",
                  "-surName",
                  "-displayName"
                ]
              },
              "default": [
                "personId"
              ],
              "example": [
                "surName",
                "-personId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Person"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      },
      "post": {
        "summary": "POST /persons",
        "description": "POST a single person.",
        "tags": [
          "persons"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PersonProperties"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PersonId"
                    },
                    {
                      "$ref": "#/components/schemas/PostResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          }
        }
      }
    },
    "/persons/me": {
      "get": {
        "summary": "GET /persons/me",
        "description": "Returns the person object for the currently authenticated user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "persons"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/persons/{personId}": {
      "get": {
        "summary": "GET /persons/{personId}",
        "description": "Get a single person.",
        "tags": [
          "persons"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/persons/{personId}/associations": {
      "get": {
        "summary": "GET /persons/{personId}/associations",
        "description": "Get a list of all associations for an individual person.",
        "tags": [
          "persons"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "description": "Person ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "name": "associationType",
            "in": "query",
            "description": "Filter by association type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "programOffering",
                "courseOffering",
                "componentOffering"
              ]
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Filter by role",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/associationRole"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/associationState"
            }
          },
          {
            "name": "result-state",
            "in": "query",
            "description": "Filter by result state",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/resultState"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "associationId",
                  "-associationId"
                ]
              },
              "default": [
                "associationId"
              ],
              "example": [
                "associationId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "allOf": [
                                  {
                                    "$ref": "#/components/schemas/ProgramOfferingAssociation"
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "offering"
                                    ],
                                    "properties": {
                                      "offering": {
                                        "$ref": "#/components/schemas/ProgramOffering"
                                      },
                                      "academicSession": {
                                        "$ref": "#/components/schemas/AcademicSession"
                                      }
                                    }
                                  }
                                ]
                              },
                              {
                                "allOf": [
                                  {
                                    "$ref": "#/components/schemas/CourseOfferingAssociation"
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "offering"
                                    ],
                                    "properties": {
                                      "offering": {
                                        "$ref": "#/components/schemas/CourseOffering"
                                      },
                                      "academicSession": {
                                        "$ref": "#/components/schemas/AcademicSession"
                                      }
                                    }
                                  }
                                ]
                              },
                              {
                                "allOf": [
                                  {
                                    "$ref": "#/components/schemas/ComponentOfferingAssociation"
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "offering"
                                    ],
                                    "properties": {
                                      "offering": {
                                        "$ref": "#/components/schemas/ComponentOffering"
                                      },
                                      "academicSession": {
                                        "$ref": "#/components/schemas/AcademicSession"
                                      }
                                    }
                                  }
                                ]
                              }
                            ]
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/persons/{personId}/groups": {
      "get": {
        "summary": "GET /persons/{personId}/groups",
        "description": "Get an ordered list of all groups for a given person, ordered by name.",
        "tags": [
          "persons"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "description": "Person ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "groupType",
            "in": "query",
            "description": "Filter by group type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/groupType"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "groupId",
                  "name",
                  "startDate",
                  "-groupId",
                  "-name",
                  "-startDate"
                ]
              },
              "default": [
                "name"
              ],
              "example": [
                "name",
                "-groupId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "pageSize",
                    "pageNumber",
                    "hasPreviousPage",
                    "hasNextPage",
                    "items"
                  ],
                  "properties": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of items per page"
                    },
                    "pageNumber": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page number"
                    },
                    "hasPreviousPage": {
                      "type": "boolean",
                      "description": "Whether there is a previous page"
                    },
                    "hasNextPage": {
                      "type": "boolean",
                      "description": "Whether there is a previous page"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total number of pages"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Group"
                      }
                    },
                    "ext": {
                      "$ref": "#/components/schemas/Ext"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "summary": "GET /organizations",
        "description": "Get an ordered list of all organizations, ordered by name.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/primaryCode"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "organizationType",
            "in": "query",
            "description": "Filter by organization type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/organizationType"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "organizationId",
                  "name",
                  "-organizationId",
                  "-name"
                ]
              },
              "default": [
                "name"
              ],
              "example": [
                "name",
                "-organizationId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Organization"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/organizations/{organizationId}": {
      "get": {
        "summary": "GET /organizations/{organizationId}",
        "description": "Get a single organization.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "explode": false,
            "description": "Optional properties to expand, separated by a comma",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "parent",
                  "children"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/organizations/{organizationId}/programs": {
      "get": {
        "summary": "GET /organizations/{organizationId}/programs",
        "description": "Get an ordered list of all programs for a given organization, ordered by name.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "programType",
            "in": "query",
            "description": "Filter by program type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/programType"
            }
          },
          {
            "name": "qualificationAwarded",
            "in": "query",
            "description": "Filter by qualificationAwarded",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/qualificationAwarded"
            }
          },
          {
            "name": "levelOfQualification",
            "in": "query",
            "description": "Filter by levelOfQualification",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/levelOfQualification"
            }
          },
          {
            "name": "sector",
            "in": "query",
            "description": "Filter by sector",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/sector"
            }
          },
          {
            "name": "fieldsOfStudy",
            "in": "query",
            "description": "Filter by fieldsOfStudy",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "programId",
                  "name",
                  "-programId",
                  "-name"
                ]
              },
              "default": [
                "name"
              ],
              "example": [
                "name",
                "-programId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Program"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/organizations/{organizationId}/courses": {
      "get": {
        "summary": "GET /organizations/{organizationId}/courses",
        "description": "Get an ordered list of all courses for a given organization, ordered by name.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filter by level",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/level"
            }
          },
          {
            "name": "modeOfDelivery",
            "in": "query",
            "description": "Filter by modeOfDelivery",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/modesOfDelivery"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "courseId",
                  "name",
                  "-courseId",
                  "-name"
                ]
              },
              "default": [
                "name"
              ],
              "example": [
                "name",
                "-courseId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Course"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/organizations/{organizationId}/components": {
      "get": {
        "summary": "GET /organizations/{organizationId}/components",
        "description": "Get an ordered list of all components for a given organization, ordered by name.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "componentType",
            "in": "query",
            "description": "Filter by component type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/componentType"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "componentId",
                  "name",
                  "-componentId",
                  "-name"
                ]
              },
              "default": [
                "name"
              ],
              "example": [
                "componentId",
                "-name"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Component"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/organizations/{organizationId}/offerings": {
      "get": {
        "summary": "GET /organizations/{organizationId}/offerings",
        "description": "Get a list of all offerings for a given organization",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "offeringType",
            "in": "query",
            "description": "Filter by offering type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "program",
                "course",
                "component"
              ]
            }
          },
          {
            "name": "resultExpected",
            "in": "query",
            "description": "Filter by resultExpected",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Filter all offerings by providing a minimum start date for the corresponding academic session, RFC3339 (full-date). By default only future offerings are shown (equal to `?since=<today>`).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Filter all offerings by providing a maximum end date for the corresponding academic session, RFC3339 (full-date).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "offeringId",
                  "name",
                  "startDate",
                  "endDate",
                  "-offeringId",
                  "-name",
                  "-startDate",
                  "-endDate"
                ]
              },
              "default": [
                "startDate"
              ],
              "example": [
                "name",
                "-startDate"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/ProgramOffering"
                              },
                              {
                                "$ref": "#/components/schemas/CourseOffering"
                              },
                              {
                                "$ref": "#/components/schemas/ComponentOffering"
                              }
                            ]
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/organizations/{organizationId}/groups": {
      "get": {
        "summary": "GET /organizations/{organizationId}/groups",
        "description": "Get an ordered list of all groups for a given organization, ordered by name.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "groupType",
            "in": "query",
            "description": "Filter by group type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/groupType"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "groupId",
                  "name",
                  "startDate",
                  "-groupId",
                  "-name",
                  "-startDate"
                ]
              },
              "default": [
                "name"
              ],
              "example": [
                "groupId",
                "-name"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Group"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/organizations/{organizationId}/education-specifications": {
      "get": {
        "summary": "GET /organizations/{organizationId}/education-specifications",
        "description": "Get an ordered list of all EducationSpecifications for a given organization, ordered by name.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "educationSpecificationType",
            "in": "query",
            "description": "Filter by type of education specification",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/educationSpecificationType"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "educationSpecificationType",
                  "name",
                  "primarycode",
                  "-educationSpecificationType",
                  "-name",
                  "-primarycode"
                ]
              },
              "default": [
                "name"
              ],
              "example": [
                "name",
                "-educationSpecificationType"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EducationSpecification"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/academic-sessions": {
      "get": {
        "summary": "GET /academic-sessions",
        "description": "Get a list of all academic sessions, ordered chronologically.",
        "tags": [
          "academic sessions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/primaryCode"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "name": "academicSessionType",
            "in": "query",
            "description": "Filter by academic session type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/academicSessionType"
            }
          },
          {
            "name": "parent",
            "in": "query",
            "description": "Filter by parent (academicSessionId)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Filter by year (academicSessionId)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "academicSessionId",
                  "name",
                  "startDate",
                  "-academicSessionId",
                  "-name",
                  "-startDate"
                ]
              },
              "default": [
                "startDate"
              ],
              "example": [
                "startDate",
                "-academicSessionId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AcademicSession"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/academic-sessions/{academicSessionId}": {
      "get": {
        "summary": "GET /academic-sessions/{academicSessionId}",
        "description": "Get a single academic session.",
        "tags": [
          "academic sessions"
        ],
        "parameters": [
          {
            "name": "academicSessionId",
            "in": "path",
            "description": "Academic session ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "explode": false,
            "description": "Optional properties to expand, separated by a comma",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "parent",
                  "children",
                  "year"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcademicSession"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/academic-sessions/{academicSessionId}/offerings": {
      "get": {
        "summary": "GET /academic-sessions/{academicSessionId}/offerings",
        "description": "Get a list of all offerings during this academic session",
        "tags": [
          "academic sessions"
        ],
        "parameters": [
          {
            "name": "academicSessionId",
            "in": "path",
            "description": "Academic session ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "offeringType",
            "in": "query",
            "description": "Filter by offering type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "program",
                "course",
                "component"
              ]
            }
          },
          {
            "name": "resultExpected",
            "in": "query",
            "description": "Filter by resultExpected",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Filter all offerings by providing a minimum start date for the corresponding academic session, RFC3339 (full-date). By default only future offerings are shown (equal to `?since=<today>`).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Filter all offerings by providing a maximum end date for the corresponding academic session, RFC3339 (full-date).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "offeringId",
                  "name",
                  "startDate",
                  "endDate",
                  "-offeringId",
                  "-name",
                  "-startDate",
                  "-endDate"
                ]
              },
              "default": [
                "startDate"
              ],
              "example": [
                "startDate",
                "-name"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/ProgramOffering"
                              },
                              {
                                "$ref": "#/components/schemas/CourseOffering"
                              },
                              {
                                "$ref": "#/components/schemas/ComponentOffering"
                              }
                            ]
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/programs": {
      "get": {
        "summary": "GET /programs",
        "description": "Get an ordered list of all programs, ordered by name.",
        "tags": [
          "programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/primaryCode"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "programType",
            "in": "query",
            "description": "Filter by program type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/programType"
            }
          },
          {
            "name": "qualificationAwarded",
            "in": "query",
            "description": "Filter by qualificationAwarded",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/qualificationAwarded"
            }
          },
          {
            "name": "levelOfQualification",
            "in": "query",
            "description": "Filter by levelOfQualification",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/levelOfQualification"
            }
          },
          {
            "name": "sector",
            "in": "query",
            "description": "Filter by sector",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/sector"
            }
          },
          {
            "name": "fieldsOfStudy",
            "in": "query",
            "description": "Filter by fieldsOfStudy",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "programId",
                  "name",
                  "-programId",
                  "-name"
                ]
              },
              "default": [
                "name"
              ],
              "example": [
                "name",
                "programId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Program"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/programs/{programId}": {
      "get": {
        "summary": "GET /programs/{programId}",
        "description": "Get a single program.",
        "tags": [
          "programs"
        ],
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "description": "Program ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "explode": false,
            "description": "Optional properties to include, separated by a comma",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "parent",
                  "children",
                  "coordinators",
                  "organization",
                  "educationSpecification"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/returnTimelineOverrides"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramExpanded"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/programs/{programId}/programs": {
      "get": {
        "summary": "GET /programs/{programId}/programs",
        "description": "Get an ordered list of nested programs, ordered by name.",
        "tags": [
          "programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "programId",
            "in": "path",
            "description": "the id of the program to find nested programs for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "programType",
            "in": "query",
            "description": "Filter by program type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/programType"
            }
          },
          {
            "name": "qualificationAwarded",
            "in": "query",
            "description": "Filter by qualificationAwarded",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/qualificationAwarded"
            }
          },
          {
            "name": "levelOfQualification",
            "in": "query",
            "description": "Filter by levelOfQualification",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/levelOfQualification"
            }
          },
          {
            "name": "sector",
            "in": "query",
            "description": "Filter by sector",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/sector"
            }
          },
          {
            "name": "fieldsOfStudy",
            "in": "query",
            "description": "Filter by fieldsOfStudy",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "programId",
                  "name",
                  "-programId",
                  "-name"
                ]
              },
              "default": [
                "name"
              ],
              "example": [
                "name",
                "-programId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Program"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/programs/{programId}/courses": {
      "get": {
        "summary": "GET /programs/{programId}/courses",
        "description": "Get an ordered list of all courses given through this program.",
        "tags": [
          "programs"
        ],
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "description": "Program ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filter by level",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/level"
            }
          },
          {
            "name": "modeOfDelivery",
            "in": "query",
            "description": "Filter by modeOfDelivery",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/modesOfDelivery"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "courseId",
                  "name",
                  "-courseId",
                  "-name"
                ]
              },
              "default": [
                "courseId"
              ],
              "example": [
                "name",
                "-courseId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Course"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/programs/{programId}/offerings": {
      "get": {
        "summary": "GET /programs/{programId}/offerings",
        "description": "Get a list of all offerings for this program, ordered chronologically.",
        "tags": [
          "programs"
        ],
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "description": "Program ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "modeOfStudy",
            "in": "query",
            "description": "Filter by modeOfStudy",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/modeOfStudy"
            }
          },
          {
            "name": "resultExpected",
            "in": "query",
            "description": "Filter by resultExpected",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Filter all offerings by providing a minimum start date for the corresponding academic session, RFC3339 (full-date). By default only future offerings are shown (equal to `?since=<today>`).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Filter all offerings by providing a maximum end date for the corresponding academic session, RFC3339 (full-date).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "offeringId",
                  "name",
                  "startDate",
                  "endDate",
                  "-offeringId",
                  "-name",
                  "-startDate",
                  "-endDate"
                ]
              },
              "default": [
                "startDate"
              ],
              "example": [
                "name",
                "-startDate"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProgramOffering"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/courses": {
      "get": {
        "summary": "GET /courses",
        "description": "Get a list of all courses, ordered by name (ascending).",
        "tags": [
          "courses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/primaryCode"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filter by level",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/level"
            }
          },
          {
            "name": "modeOfDelivery",
            "in": "query",
            "description": "Filter by modeOfDelivery",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/modesOfDelivery"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "courseId",
                  "name",
                  "-courseId",
                  "-name"
                ]
              },
              "default": [
                "name"
              ],
              "example": [
                "name",
                "-courseId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Course"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/courses/{courseId}": {
      "get": {
        "summary": "GET /courses/{courseId}",
        "description": "Get a single course.",
        "tags": [
          "courses"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "description": "Course ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "explode": false,
            "description": "Optional properties to include, separated by a comma",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "programs",
                  "coordinators",
                  "organization",
                  "educationSpecification"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/returnTimelineOverrides"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseExpanded"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/courses/{courseId}/components": {
      "get": {
        "summary": "GET /courses/{courseId}/components",
        "description": "Get an ordered list of all course components.",
        "tags": [
          "courses"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "description": "Course ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "componentType",
            "in": "query",
[...]
