---
new_page_extension: md
auto_deploy: false
admin_path: edit
webhook_url: 
sections:
- type: directory
  path: docs
  label: docs
  create: all
  match: "**/*.md"
upload_dir: docs/_media
public_path: _media
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run develop
